<form #form="ngForm" autocomplete="off" *ngIf="service.formData" >
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
          <label>Order No.</label>
          <input name="OrderNo" #OrderNo="ngModel" [(ngModel)]="service.formData.OrderNo" class="form-controle">
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
          <label>Customer</label>
          <select name="OrderNo" #CustomerID="ngModel" [(ngModel)]="service.formData.CustomerID" class="form-controle">

          </select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
          <label>Order No.</label>
          <input name="OrderNo" #OrderNo="ngModel" [(ngModel)]="service.formData.OrderNo" class="form-controle">
      </div>
    </div>

  </div>
</form>
